doctype html

html
    head
        meta(charset='utf-8')
        title Kenziegram
    body
        h1 File uploaded!
        br
        img(src="uploads/" + uploads)
        br
        a(href='http://localhost:3000') BACK
