doctype html

html
    head
        meta(charset='utf-8')
        title Kenziegram
    body
        h1 Welcome to Kenziegram!
        form(action="/upload" method="POST" enctype="multipart/form-data")
            label(name="file") Upload Your File Here:
            input(type="file" name="myFile")
            input(type="submit" value="Submit")
        br
        
        .div(
            id="image-container"
        )
            each image in imageArray 
                img(src="uploads/" + image)
        script(type='text/javascript' src='../polling.js')